<h4>Entire Jokes Library</h4>

<br>


<% @jokes.each do |joke| %>
<p><a href="/jokes/<%= joke.id %>"> <%= joke.title %></a> | Created by: <a href="/users/<%=joke.user.id%>"> <%= joke.user.name%>  <!--/ <%= joke.setup %> / <%= joke.punchline %> --> </a></p>
<% end %>

<hr>
<h5> <a href="/users/<%=session[:id]%>"> Go back to your profile </a> | <a href="/jokes/new"> Create a joke </a>  </h5>


