

<h4><b>Tile: <%= @joke.title %></b></h4>
<br>
 <p><%= @joke.setup %></p> 
 <p><%= @joke.punchline %></p> 
 <i>Created by: <a href="/users/<%= @joke.user.id%>"> <%= @joke.user.name %> </a> </i> 


<div>
<% if logged_in? && authorize_joke(@joke)%>
  <div>
  <br/>
    <a href="/jokes/<%= @joke.id %>/edit"><button>Edit</button></a> | 
    <form method="post" action="/jokes/<%=@joke.id%>/delete" style="display: inline-block;">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Delete" />
    </form>
  </div>

<% end %>

</div>
<br/> 
<h5> <a href="/jokes/new"> Create a joke </a> | <a href="/jokes"> See All Jokes </a> | <a href="/users/<%=session[:id]%>"> Back to your profile </a></h5>